{% block body %}
    <div class="titulos">
        <h1>Detalle Respuesta</h1>
    </div>					
    <div class="detalle-pqrs">
        <table class="table table-hover">
            <tr>
                <td>Respuesta {{ respuesta.respuesta|raw }}</td>
            </tr>
            {% if respuesta.causa %}
                <tr>
                    <td>
                        Causa: 
                        {% if causas %}                    
                            {% for ca in causas %}
                                {{ca}},
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if adjuntos %}
                <tr>
                    <td>Adjuntos:</td>
                </tr>
                {% for ad in adjuntos %}
                    <tr>
                        <td><a href="{{base_url}}/{{ad.url}}" target="_blank">{{base_url}}/{{ad.url}}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}

