<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=unicode" http-equiv="Content-Type" />
        <title>Mensaje de Notificacion</title>       
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000066;">
            <tr>
                <td colspan="2">
                    <img alt="Cine Colombia S.A." title="Cine Colombia S.A." src="http://www.cinecolombia.com/sites/all/themes/cinecolombia_theme/images/header_mail.jpg" />
                </td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    ID Mensaje
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{id}}
                </td>
            </tr>
            <tr class="FilaAzul" style="background-color: #eaeaff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Tipo comunicacion
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{ tipo_comunicacion }}
                </td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Ciudad
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{ciudad}}
                </td>
            </tr>
            <tr class="FilaAzul" style="background-color: #eaeaff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Nombre
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{nombre}}
                </td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Documento
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{documento}}
                </td>
            </tr>
            <tr class="FilaAzul" style="background-color: #eaeaff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Dirección
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{direccion}}
                </td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    E-mail
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{correo}}
                </td>
            </tr>
            <tr class="FilaAzul" style="background-color: #eaeaff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Teléfono
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{telefono}}
                </td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Película
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{pelicula}}
                </td>
            </tr>
            <tr class="FilaAzul" style="background-color: #eaeaff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Fecha de la Función
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{fecha_funcion}}
                </td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Hora de la Función
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{hora_funcion}}
                </td>
            </tr>
            <tr class="FilaAzul" style="background-color: #eaeaff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Teatro
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{multiplex}}
                </td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Áreas de Referencia
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {% for ar in areas_referencia %}
                        {{ar}},
                    {% endfor %}
                </td>
            </tr>
            {% if adjuntos %}
                <tr class="FilaAzul" style="background-color: #eaeaff; height: 30px; vertical-align: middle;">
                    <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                        Adjuntos
                    </td>
                    <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                        {% for ad in adjuntos %}
                            <a href="{{ad}}" target="_blank">{{ad}}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    Comentario
                </td>
                <td class="TextoFila" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    {{comentario}}
                </td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TextoFila" colspan="2" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    &nbsp;</td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TextoFila" colspan="2" style="padding-left: 20px; padding-right: 20px; width: 450px;">
                    Gracias por sus comentarios.</td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" colspan="2" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    CINE COLOMBIA S.A.</td>
            </tr>
            <tr class="FilaBlanca" style="background-color: #ffffff; height: 30px; vertical-align: middle;">
                <td class="TituloFila" colspan="2" style="font-weight: bold; padding-left: 20px; padding-right: 20px; width: 150px;">
                    PORTAL CINECO</td>
            </tr>
        </table>
    </body>
</html>